<head>
    <%- include('./default/head'); -%>
</head>
<header>
    <%- include('./default/profileHeader'); -%>
</header>
<main>
    <%- include ('./partials/messages'); -%>
    <div class="row py-5 px-4">
        <div class="mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 bg-danger">
                    <div class="media align-items-end profile-header">
                        <div class="profile mr-3 mt-3"><img src="/uploads/<%= pp %>" alt="..." width="250" class="rounded mb-2 img-thumbnail"><a href="/users/editProfile" class="btn btn-dark btn-sm btn-block">Edit profile</a></div>
                        <div class="media-body text-white text-center mb-auto mt-3">
                            <h4 class="mt-0 mb-0 cap"><% if (typeof name != 'undefined') {%> <%= name %> <% } %></h4>
                            <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>Location</p>
                        </div>
                        <ul class="list-inline mb-0 bg-light p-4 d-flex justify-content-end rounded bg-transparent border border-dark">
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"> <i class="fa fa-heart mr-1"></i>Likes</small>
                            </li>
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"> <i class="fa fa-eye mr-1"></i>Views</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container mx-auto">
                    <h5 class="font-weight-light text-center text-lg-left mt-4 mb-0">Image Gallery</h5>
                    <hr class="mt-2 mb-5">
                    <div class="row text-center text-lg-left">
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="/img/couple18.jpg" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="/img/couple18.jpg" alt="" style="height: 100%;width: 150%">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="/img/couple17.jpg" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="/img/couple17.jpg" alt="" style="height: 100%; width: 150%">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="/img/couple16.jpg" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="/img/couple16.jpg" alt="" style="height: 100%; width: 150%">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="/img/couple15.jpg" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="/img/couple15.jpg" alt="" style="height: 100%; width: 150%">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <%- include('./default/footer'); -%>
</footer>
