<head>
<%- include('./default/head'); -%>
</head>
<header>
    <%- include('./default/defaultheader'); -%>
</header>
<main>
    <%- include ('./partials/messages'); -%>
    <div class="container">
        <%- include ('./forms/extendedProfil')-%>
    </div>
</main>
<footer>
    <%- include('./default/footer'); -%>
</footer>