<head>
    <%- include('./default/head'); -%>
</head>
<header>
    <%- include('./default/header'); -%>
</header>
<main>
    <%- include ('./partials/messages'); -%>
    <%- include('./forms/forgotPw'); -%>
</main>
<footer>
    <%- include('./default/footer'); -%>
</footer>