<head>
	<%- include('./default/head'); -%>
</head> 
<header>
	<%- include('./default/header'); -%> 
</header>
<main>
	<%- include ('./partials/messages'); -%>
	<div class="container">
		<%- include('./forms/signin'); -%> 
	</div>
</main>
<footer>
	<%- include('./default/footer'); -%> 
</footer>