<%- include('./default/head'); -%>
<header>
	<%- include('./default/profileHeader'); -%>
</header>

    <input type="hidden" id="liked_username" value="<%= user.username %>">
    <input type="hidden" id="user_id" value="<%= user._id%>">
    <input type="hidden" id="curr_userUsername" value="<%= curr_userUsername %>">
    <input type="hidden" id="curr_userId" value="<%= curr_userId %>">
    
<main>
    <%- include ('./partials/messages'); -%>
    <div class="row py-5 px-4 container-fluid mx-auto my-auto wrapper">
        <div class="bg-white shadow rounded overflow-hidden mx-auto container">
            <div class="px-4 pt-0 pb-4 bg-danger mx-auto container overflow-hidden">
                <div class="media align-items-end profile-header container wrapper mx-auto">
                    <div class="profile mr-3 mt-3"><a href="<%= user.profileImages.image1 %>"><img src="/<%= user.profileImages.image1 %>" alt="..." width="250vw" height="400vh" class="rounded mb-2 img-fluid wrapper" style="position: relative;"></a></div>
                    <div class="media-body text-white text-center mb-auto mt-3 wrapper">
                        <h1 class="mt-0 mb-0 text-center"><%= user.username %></h1><br>
                        <p class="small mb-4 text-center"> <i class="fa fa-map-marker mr-2"></i><%= user.city %> <%= user.province %> <%= user.country %></p>
                        <% if(user.loggedIn === true) { %>
                            <p style="color: rgb(14, 112, 37);"> online </p>
                        <% } else { %>
                            <p>Last seen: <%= user.lastSeen %></p>
                        <% } %>
                        <h4><i class="fa fa-star-o"></i> <%= user.fame %> <i class="fa fa-star-o"></i></h4>
                    </div>
                    <ul class="list-inline mb-0 bg-light p-4 d-flex justify-content-end rounded bg-transparent border border-dark wrapper">
                        <form id="form" action="" method="POST" class="wrapper">
                            <h5><button id="like_btn" type="submit" name="like_btn" value="like_btn" class="btn btn-secondary wrapper" style="width: 100%;"><i class="fa fa-heart wrapper"></i> <%= liked %></button></h5>
                            <h5><button id="block_btn" type="submit" name="block_btn" value="block_btn" class="btn btn-secondary wrapper" style="width: 100%;"><i class="fa fa-ban wrapper"></i> <%=  %>block</button></h5>
                        </form>
                        <li class="list-inline-item ml-3"><br>
                            <h5 class="font-weight-bold mb-0 d-block wrapper"><%= user.likes %></h5>
                            <small class="text-muted wrapper"> <i class="fa fa-heart mr-1 wrapper"></i>Likes</small>
                        </li>
                        <li class="list-inline-item"><br>
                            <h5 class="font-weight-bold mb-0 d-block wrapper"><%= user.views %></h5>
                            <small class="text-muted wrapper"> <i class="fa fa-eye mr-1 wrapper"></i>Views</small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container mx-auto">
                <br><h4 class="text-danger"><%= user.username %>'s Info</h4>
                <hr class="mt-2 mb-3">
                <p class="font-weight-light"><span class="text-danger">Gender</span> : <%= user.gender%></p>
                <p class="font-weight-light"><span class="text-danger">Sexual Preference</span> : <%= user.sexPref%></p>
                <p class="font-weight-light"><span class="text-danger">Interests</span> : <%= user.interests.first %> <%= user.interests.second%> <%= user.interests.third%> <%= user.interests.fourth%> <%= user.interests.fifth%></p>
                <p class="font-weight-light"><span class="text-danger">Age</span> : <%= user.age%></p>
                <p class="font-weight-light"><span class="text-danger">Bio</span> : <%= user.bio%></p>
                <p class="font-weight-light"><span class="text-danger">Fame Rating</span> : <%= user.fame %></p>
                <% if(userliked != "undefined") { %>
                <p class="font-weight-light"><span class="text-danger"><%= userliked %></span> : Liked you</p>
                <% } %>
                <h5 class="text-danger text-lg-left mt-4 mb-0">Image Gallery</h5>
                <hr class="mt-2 mb-5">
                <div class="row text-center text-lg-left">
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="<%= user.image2 %>" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/<%= user.profileImages.image2 %>" alt="" style="height: 100%;width: 150%">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="<%= user.image3 %>" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/<%= user.profileImages.image3 %>" alt="" style="height: 100%; width: 150%">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="<%= user.image4 %>" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/<%= user.profileImages.image4 %>" alt="" style="height: 100%; width: 150%">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="<%= user.image5 %>" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="/<%= user.profileImages.image5 %>" alt="" style="height: 100%; width: 150%">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </main>

</div>
<footer>
	<%- include('./default/footer'); -%>
</footer>
