<head>
	<%- include('./default/head'); -%>
</head>
<header>
	<%- include('./default/header'); -%>
</header>
<main>
	<%- include ('./partials/messages'); -%>
	<div class="container">
		<%- include('./forms/signup'); -%>
	</div>
</main>
<footer>
	<%- include('./default/footer'); -%>
</footer>