<%- include('./default/head'); -%>
<header>
    <%- include('./default/profileHeader'); -%>
</header>
<main>
	<%- include ('./partials/messages'); -%>
	<%- include('./forms/updatePassword'); -%>
</main>
<footer>
	<%- include('./default/footer'); -%>
</footer>